<!DOCTYPE html>
<html lang="en" ng-app="Heatmap">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WiFind - Mapping WiFi Coverage in NYC</title>

    <!-- Scripts for Heatmaps -->
    <script src="//cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/index.js"></script>  
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="Ctrl">
   
    <div id="map"></div>

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light">WiFi<FONT COLOR="#BAC6E5">nd</FONT></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#themap">THE MAP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gettingapp">GETTING APP</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">ABOUT</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body"> 
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                     <form class="form-inline" id="seach-bar">
                         <div class="form-group">
                             <label for="SSID"> Network Name: </label>
                             <input type="text" class="form-control" ng-model='params.ssid' placeholder="nyu">
                         </div>
                         <div class="form-group">
                             <label for="aggregation">Aggregation Function:</label>
                             <select name="aggregation" class="form-control" ng-model="params.aggregation">
                                 <option value="median" selected="selected">Median</option>
                                 <option value="mean">Mean</option>
                                 <option value="max">Max</option>
                             </select>
                         </div>
                         <button class="btn btn-default" ng-click="execute()">Show Data</button>
                    </form>
                    <img src="img/legend.png" class="img-fluid" width="100%">
                    <figcaption class="figure-caption">Signal Intensity (dB)</figcaption>      
                 </div>
                </div>   
            </div>
        </div>
    </header>
    

    <!-- Map-Intro Section -->
    <section id="themap" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                 <h2>The Map</h2>
                 <p>The map shows the intensity of Wi-Fi signals at various locations in New York City based on the data collected so far. -90 (shwon in blue color) is the value for the poorest signal and -30 (shown in red color) is the value for the strongest signal. 
                 <p>To use this map, simply type in the name of the network you wish to see, then choose an aggregation function and click the "SHOW DATA" button.</p>
                 <p>There are three aggregation functions available to choose from. Choosing "Median" will show you the median value of signal intesities at each location. Similarly, choosing "Max" or "Average" will give you the maximum or average value of signal intesities at each location. </p>
            </div>
        </div>
    </section>
   
    
    
    <!-- App Section -->
    <section id="gettingapp" class="content-section text-center">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Getting App</h2>
                    <p>Our Android mobile application measures and records the signal strength of Wi-Fi networks around the users as they move through the city. Using our app will not interfere with any other processes on your Android device.</p>
                    <p>Help us collect data by using our application! You can download our App using the following link.</p>
                    <a href="https://build.phonegap.com/apps/2025209/download/android/?qr_key=rLwXCvJfGdJSHdKanQyE" class="btn btn-default btn-lg">Download App</a>
                </div>
            </div>
    </section>    
    
        
    
    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About WiFind</h2>
                <p>This project seeks to visualize the prevalence of Wi-Fi coverage throughout New York City in order to understand accessibility levels citywide. Using our Android mobile application, users can measure and record the signal strength of Wi-Fi networks around them as they move through the city.</p>
                <p>Our hope is that these readings can help inform a wide array of academic and social purposes, ranging from visualizing digital equality to finding the closest open Wi-Fi network.</p>
                <p>The project team is from <a href="http://cusp.nyu.edu">NYU CUSP</a>, a university-wide research center focusing on urban systems and urban informatics. We aim to use data analytics to understand complex urban systems and ultimately improve the quality of life for those living in cities throughout the world. </p>
            </div>
        </div>
    </section>
    
 
    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="row">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact</h2>
                    <p>Please email us to provide some feedback on our project, give us suggestions for new feautures. This is an open source project, feel free to check out our code at Github.</p>
                    <p><a href="mailto:wifindproject@nyu.edu">wifindproject@gmail.com</a>
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://github.com/wifimapping" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>     
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>This project emerged from 2015 capstone project team in <a href="http://cusp.nyu.edu">NYU CUSP</a>.</p>
            <p>2016 Team: Dan Quasney, Tianyi Gu, Yunong Cao, Manushi Majumdar, Jeremy Neiman, Alan Polson</p>
            <p>2015 Team: Nicholas Hagans, Ya Liu, Xinyi Qu, Liwen Tian</p>
            <p>Advisors: <a href="http://cusp.nyu.edu/people/charlie-mydlarz/">Dr. Charlie Mydlarz</a>, <a href="http://cusp.nyu.edu/people/justin-salamon/">Dr. Justin Salamon</a></p>
            <br>
            <p>Copyright &copy; WiFind 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="bower_components/jquery.easing/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    


</body>

</html>
